@import "./colors.css";

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
    color: var(--text-color);
    font-family:
        "Chinese Quotes",
        "Inter var",
        "Inter",
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Helvetica,
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    text-decoration: none;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
}

body {
    overflow-x: hidden;
}

#app {
    background-color: var(--color1);
    min-height: 100vh;
    max-width: 100%;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    overflow-x: hidden;
}

a, a > strong {
    text-decoration: none;
    pointer-events: unset;
    cursor: pointer;
    color: var(--accent-color) !important;
    transition: all 1s ease-in-out;

    &:hover {
        text-decoration: underline;
        transition: all 1s ease-in-out;
    }
}

code {
    background: transparent !important;
}

.typingEffect {
    padding-right: 5px;
    border-right: 2px solid white;
    white-space: nowrap;
    animation: blink 1s linear infinite;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color2);
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color2);
}

@keyframes blink {
    0%, 45% {
        border-color: transparent;
    }
    50%, 100% {
        border-color: white;
    }
}

.position__bottom {
    position: fixed !important;
    bottom: 20px;
}

.position__top {
    position: fixed !important;
    top: 20px;
}

.position__left {
    position: fixed !important;
    left: 20px;
}

.position__right {
    position: fixed !important;
    right: 20px;
}

.tile-list {
    display: grid;
    grid-template-columns: repeat(
            auto-fit,
            minmax(100px, min(100%, 400px))
        );
    width: 100%;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100%;
}

@media (max-width: 1550px) and (min-width: 1201px) {
    .title {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    .title {
        width: 90%;
    }
}

h1, h2 {
    margin: 12px 0;
}

.a__clear {
    color: var(--color1) !important;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}