@import "tailwindcss";
@import "./theme.css";

@theme {
  --animate-mouse-rotate: mouse-rotate 10s linear infinite;

  @keyframes mouse-rotate {
    from {
      transform: rotateZ(0deg);
      filter: hue-rotate(0deg) blur(120px);
    }
    to {
      transform: rotateZ(360deg);
      filter: hue-rotate(360deg) blur(120px);
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));